*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
  font-family: 'Montserrat', sans-serif;
}

/* ---navBar Home--- */
.navbar {
  width: 100%;
  color: #ffff;
}

.navbar-brand{
  font-weight:bolder;
  font-size: 30px;
}

#navbarNav {
  justify-content: center;
  font-weight: 500;
}

/* ---navBar2 Logeado--- */

.divBotonUsuario {
  display: flex;
  justify-content: flex-end;
}
#botonUsuario {
    color: black;
    background-color: #FDC500;
    border-radius: 200vh;
    font-weight: bolder;
    padding: 1.3vh;
    margin: 1vh;
    justify-content: flex-end;
}