*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
  font-family: 'Montserrat', sans-serif;
}

/* ---navBar Home--- */
.navbar {
  width: 100%;
  color: #ffff;
}

.navbar-brand{
  font-weight:bolder;
  font-size: 30px;
}

#navbarNav {
  justify-content: center;
  font-weight: 500;
}

/* ---navBar2 Logged in--- */


#botonRegister{
  background-color: #9BF6FF;
  color: black;
  border-color: #71c6ce;
  font-weight: bold;
}
