/*---Login y Register---*/

#login, #register {
    margin:0;
    padding:0;
    height:90vh;
    background-color: #FDC500;
  }
  
  #form {
    margin: auto;
    padding-top: 2%;
    padding-bottom: 2%;
    border-radius: 5%;
    border-color:#FDC500;
    border-style: outset ;
    background-color: #ffff;
    height:fit-content;
  }
  
  #botonLogin, #botonRegister{
    background-color: #FDC500;
    color: black;
    border-color: #eeba00;
    font-weight: bold;
  }
  
  label{
    color:#FDC500;
    font-weight: bolder;
  }
  
  #iniciarSesion {
    margin-bottom: 10%;
  }